<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.quantumscalptrading.backgroundupdate</string>
		<string>com.quantumscalptrading.datasync</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>17.4</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>TradeStockIntent</string>
		<string>ViewPortfolioIntent</string>
		<string>SearchStockIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>Inter-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>iOS26-Enhanced</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>Launch-Bg</string>
		<key>UIImageName</key>
		<string>Launchscreen-Logo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
</dict>
</plist>
